<!doctype html>
<html>
<head>
    <title>QR Residente</title>
</head>
<body>
    <h1>Generador de QR para residente</h1>
    <form method="post">

        <div>
            <label for="nombre">Nombre del residente:</label><br>
            <input type="text" id="nombre" name="nombre" required><br><br>
        </div>

        <div>
            <label for="visitante">Nombre del visitante:</label><br>
            <input type="text" id="visitante" name="visitante" required><br><br>
        </div>

        <div>
            <label for="direccion">Dirección del residente:</label><br>
            <input type="text" id="direccion" name="direccion" required><br><br>
        </div>

        <input type="submit" value="Crear QR">
    </form>

    {% if qr_code %}
        <h2>QR generado:</h2>
        <img src="{{ qr_code }}" alt="Código QR">
    {% endif %}
</body>
</html>
